main {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 1100px;
  margin: 0 auto;
  font-family: system-ui;
}


section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

section{
  max-width: 700px;
  height: auto;
} 

.horizontal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}